<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/weather-icon.png">
    </head>
        <body>
            <div class="main-content">
                {{>header}}
                <img src="./img/yash.jpeg" alt="my Photo" class='potrait qunit-fail'>
            </div>
           {{>footer}}   
        </body>
</html>